In [20]:
import os
import csv
import pandas as pd
import json
from sqlalchemy import create_engine
import numpy as np

In [2]:
%load_ext sql

In [3]:
DB_ENDPOINT = "localhost"
DB = 'billboard_db'
DB_USER = 'postgres'
DB_PASSWORD = 
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

postgresql://postgres:postgres@localhost:5432/billboard_db

In [4]:
%sql $conn_string

'Connected: postgres@billboard_db'

In [5]:
file = 'top10s.csv'

In [6]:
top_10 = pd.read_csv(file, encoding = 'ISO-8859-1')
top_spotify_2019_2010 = top_10.drop(columns = ['Unnamed: 0', 'dB'])

In [7]:
top_spotify_2019_2010
top_spotify_2019_2010=top_spotify_2019_2010.rename(columns = {'top genre': 'top_genre'})

In [8]:
top_spotify_2019_2010.columns

Index(['title', 'artist', 'top_genre', 'year', 'bpm', 'nrgy', 'dnce', 'live',
       'val', 'dur', 'acous', 'spch', 'pop'],
      dtype='object')

In [9]:
rds_connection_string = "postgres:postgres@localhost:5432/billboard_db"

engine = create_engine(f'postgresql://{rds_connection_string}')

In [10]:
#check for tables
engine.table_names()

['billboard_top_hits_2009_2019', 'top_spotify_2019_2010']

In [11]:
top_spotify_2019_2010.to_sql(name='top_spotify_2019_2010', con=engine, if_exists='append', index=False)

In [12]:
#read from sql
pd.read_sql_query('select * from top_spotify_2019_2010', con=engine).head()

,id,title,artist,top_genre,year,bpm,nrgy,dnce,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,9,43,221,2,4,78

# Spotify Schema

```sql
DROP TABLE top_spotify_2019_2010;

CREATE TABLE top_spotify_2019_2010(
    id SERIAL PRIMARY KEY,
    title VARCHAR,
    artist VARCHAR,
    top_genre VARCHAR,
	year int,
	bpm int,
	nrgy int,
	dnce int,
	live int,
	val int,
	dur int,
	acous int,
	spch int,
	pop int);

SELECT * FROM top_spotify_2019_2010;

```

In [169]:
year_list = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
df_year_list = []

for year in year_list:
    year_df = top_spotify_2019_2010.loc[top_spotify_2019_2010['year'] == year]    
    genre_by_year = year_df[['top_genre', 'year']]
    df_year_list.append(genre_by_year)
    
new_df_list = []
for df in df_year_list:
    table = pd.pivot_table(df, index=['top_genre'], aggfunc = 'count')
    new_df = table.reset_index()
    new_df = new_df.sort_values(by='year', ascending=False)
    new_df_list.append(new_df)

top_genre_list = []
for i in new_df_list:
    top_genre = i['top_genre'].iloc[0]
    top_genre_list.append(top_genre)
    
top_genre_df = pd.DataFrame({'Year': year_list,
                             'Top Genre': top_genre_list})

top_genre_df

   Year  Top Genre
0  2010  dance pop
1  2011  dance pop
2  2012  dance pop
3  2013  dance pop
4  2014  dance pop
5  2015  dance pop
6  2016  dance pop
7  2017  dance pop
8  2018  dance pop
9  2019        pop

In [170]:
year_list = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]
df_year_list = []

for year in year_list:
    year_df = top_spotify_2019_2010.loc[top_spotify_2019_2010['year'] == year]    
    artist_by_year = year_df[['artist', 'year']]
    df_year_list.append(artist_by_year)
    
new_df_list = []
for df in df_year_list:
    table = pd.pivot_table(df, index=['artist'], aggfunc = 'count')
    new_df = table.reset_index()
    new_df = new_df.sort_values(by='year', ascending=False)
    new_df = new_df.rename(columns={"year": "count"})
    new_df_list.append(new_df)

top_artist_list = []
max_count_list = []

for i in new_df_list:
    max_count = i['count'].max()
    top_artists = i.loc[i['count'] == max_count]
    top_artists = top_artists[['artist']]
    top_artist_list.append(top_artists)

In [171]:
full_df_list = []
for i in range(len(top_artist_list)):
    top_artist_list[i]['year'] = year_list[i]
    full_df_list.append(top_artist_list)

In [172]:
concat_df_list = [full_df_list[i][0], full_df_list[i][1], full_df_list[i][2], full_df_list[i][3], 
                  full_df_list[i][4], full_df_list[i][5], full_df_list[i][6], full_df_list[i][7], 
                  full_df_list[i][8], full_df_list[i][9]]

top_artists = pd.concat(concat_df_list)
top_artists = top_artists.reset_index().drop(columns = 'index')
top_artists

                 artist  year
0   The Black Eyed Peas  2010
1    Christina Aguilera  2010
2                 Kesha  2010
3             Lady Gaga  2011
4               Rihanna  2012
5            Katy Perry  2012
6     Justin Timberlake  2013
7                 Birdy  2014
8         Justin Bieber  2015
9                 Adele  2016
10                 DNCE  2017
11     The Chainsmokers  2017
12         Lana Del Rey  2017
13           Katy Perry  2017
14         Shawn Mendes  2018
15           Ed Sheeran  2019